<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="header" th:fragment="mainMenu">
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <!--/*@thymesVar id="isOwner" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="settings" type="com.kasia.controller.dto.Settings"*/-->
    <!--/*@thymesVar id="connectionBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <div>
        <form th:action="@{/logout}" method="post">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.logout}">
                <img th:id="buttonImg" th:src="@{/images/exit.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/main}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.main}">
                <img th:id="buttonImg" th:src="@{/images/main.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/add}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.addBudget}">
                <img th:id="buttonImg" th:src="@{/images/budget-add.png}"/>
            </button>
        </form>
    </div>
    <div th:if="${settings.hasOwnBudget or settings.hasConnectBudget}">
        <form th:action="@{/main/settings}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.settings}">
                <img th:id="buttonImg" th:src="@{/images/settings.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/profile}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.profile}">
                <img th:id="buttonImg" th:src="@{/images/profile.png}"/>
            </button>
        </form>
    </div>
    <div th:class="idLabel" th:text="${user.email}">
    </div>
</div>

<div class="header" th:fragment="budgetMenu">
    <!--/*@thymesVar id="budget" type="com.kasia.model.Budget"*/-->
    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <div>
        <form th:action="@{/main}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.main}">
                <img th:id="buttonImg" th:src="@{/images/main.png}"/>
        </form>
    </div>
    <div>
        <form th:action="@{/budget}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{title.statistic.balance.changes}">
                <img th:id="buttonImg" th:src="@{/images/delta-balance.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/operation/income}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.income}">
                <img th:id="buttonImg" th:src="@{/images/income.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/operation/consumption}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.consumption}">
                <img th:id="buttonImg" th:src="@{/images/consumption.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/place}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.place}">
                <img th:id="buttonImg" th:src="@{/images/place.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/element}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.element}">
                <img th:id="buttonImg" th:src="@{/images/element.png}"/>
            </button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/statistic}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.statistic}">
                <img th:id="buttonImg" th:src="@{/images/statistic.png}"/>
            </button>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <td th:class="twoIdLabel" th:text="${budget.name}"></td>
            </tr>
            <tr>
                <td th:class="twoIdLabel"
                    th:style="${budget.balance.amount.toString().startsWith('-')}? 'color:red;':'color:darkgreen'"
                    th:text="|${myFormatter.formatNumber(user.id,budget.balance.amount)} ${budget.balance.currency}|">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>