<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="header" th:fragment="mainMenu">
    <!--/*@thymesuserIdr id="user" type="com.kasia.model.User"*/-->
    <div th:class="idLabel" th:text="${user.email}"></div>
    <div>
        <form th:action="@{/logout}" method="post">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.logout}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/profile}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.profile}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/main}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.main}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/add}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.addBudget}"></button>
        </form>
    </div>
    <!--/*@thymesVar id="isOwner" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="settings" type="com.kasia.controller.dto.Settings"*/-->
    <!--/*@thymesVar id="connectionBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <div th:if="${settings.hasOwnBudget or settings.hasConnectBudget}">
        <form th:action="@{/main/settings}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.settings}"></button>
        </form>
    </div>
</div>

<div class="header" th:fragment="budgetMenu">
    <div th:class="idLabel">
        <table style="width: 100%">
            <tr>
                <!--/*@thymesVar id="budget" type="com.kasia.model.Budget"*/-->
                <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
                <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->

                <td style="text-align: left; padding-left: 10px;" th:text="${budget.name}"></td>
                <td style="text-align: right; padding-right: 10px;"
                    th:text="${myFormatter.formatNumber(user.id,budget.balance.amount)} + '  ' + ${budget.balance.currency}"></td>
            </tr>
        </table>

    </div>
    <div>
        <form th:action="@{/main}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.main}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.budget}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/operation/income}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.income}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/operation/consumption}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.consumption}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/element}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.element}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/place}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.place}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/statistic}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.statistic}"></button>
        </form>
    </div>
</div>
</body>
</html>