<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<!--LOGIN-->
<div class="header" th:fragment="loginMenu">
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/registration}" method="get">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.registration}"></button>
        </form>
    </div>
</div>

<!--REGISTRATION-->
<div class="header" th:fragment="registrationMenu">
    <div>
        <form th:action="@{/registration/back}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.back}"></button>
        </form>
    </div>
</div>

<!--HOME-->
<div class="header" th:fragment="mainMenu">
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <div th:class="idLabel" th:text="${user.email}"></div>
    <div>
        <form th:action="@{/logout}" method="post">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.logout}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/profile}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.profile}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/all}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.allBudget}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/add}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.addBudget}"></button>
        </form>
    </div>
</div>

<!--BUDGET-->
<div class="header" th:fragment="budgetMenu">
    <!--/*@thymesVar id="budget" type="com.kasia.model.Budget"*/-->
    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <div th:class="idLabel">
        <table style="width: 100%">
            <tr>
                <td style="text-align: left; padding-left: 10px;" th:text="${budget.name}"></td>
                <td style="text-align: right; padding-right: 10px;" th:text="${myFormatter.formatNumber(user.id,budget.balance.amount)} + '  ' + ${budget.balance.currencies}">                </td>
            </tr>
        </table>

    </div>
    <div>
        <form th:action="@{/budget/all}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.back}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.budget}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/element}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.element}"></button>
        </form>
    </div>
    <div>
        <form th:action="@{/budget/provider}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.provider}"></button>
        </form>
    </div>
</div>

<!--ERROR PAGE-->
<div class="header" th:fragment="errorPageMenu">
    <div>
        <form th:action="@{/login}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.back}"></button>
        </form>
    </div>
</div>
</body>
</html>