<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!--LOGIN TABLE-->
<div th:fragment="loginTable">
    <table style="display: inline-block">
        <tr>
            <td th:class="kasiaClass">KASIA</td>
        </tr>
        <tr>
            <td id="kasiaBudget" th:text="#{text.kasia.budget}"></td>
        </tr>
        <tr>
            <td th:class="errorClass" th:if="${param.error}" th:text="#{text.login.error}"></td>
            <td th:class="successClass" th:if="${param.logout}" th:text="#{text.logout}"></td>
            <td th:class="successClass" th:if="${param.registration}" th:text="#{text.registration.success}"></td>
        </tr>
        <tr>
            <td>
                <table th:class="myTable">
                    <form th:action="@{/login}" method="post">
                        <tr>
                            <td th:id="loginInputName" th:text="#{label.email}"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="username" th:autofocus="autofocus"/></td>
                        </tr>
                        <tr>
                            <td th:id="loginInputName" th:text="#{label.password}"></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="button" type="submit" th:text="#{button.login}"></button>
                            </td>
                        </tr>
                    </form>
                </table>
            </td>
        </tr>
    </table>
</div>

<!--REGISTRATION TABLE-->
<div th:fragment="registrationTable">
    <table th:class="myTable">
        <!--/*@thymesVar id="userDTO" type="com.kasia.controller.dto.UserDTO"*/-->
        <form action="#" th:action="@{/registration}" th:object="${userDTO}" method="post">
            <th th:colspan="3" th:text="#{title.registration}"></th>
            <tr>
                <td th:id="registrationInputName" th:text="#{label.email}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}">email Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{email}" th:placeholder="#{tip.email}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{label.password}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">password Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{password}" th:placeholder="#{tip.password}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{label.confirm}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('confirm')}"
                    th:errors="*{confirm}">confirm Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{confirm}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{label.name}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">password Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>

            <tr>
                <input id="inputZoneId" type="hidden" name="zoneId"/>
                <input type="hidden" th:value="${#locale.language}" name="lang"/>
                <input type="hidden" th:value="${#locale.country}" name="country"/>
                <td th:id="registrationTdWithButton" th:colspan="2">
                    <button class="button" type="submit" th:text="#{button.complete}"></button>
                </td>
            </tr>
        </form>
    </table>
    <script th:inline="javascript">
        document.getElementById("inputZoneId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>
</div>

<!--HOME - PROFILE TABLE-->
<div th:fragment="profileTable">
    <table th:class="myTable">
        <th th:colspan="2" th:text="#{title.profile}"></th>
        <tr>
            <td th:id="profileInputName" th:text="#{label.email}+':'"></td>
            <td th:id="profileInputName" th:text="${user.email}"></td>
        </tr>
        <tr>
            <td th:id="profileInputName" th:text="#{label.name}+':'"></td>
            <td th:id="profileInputName" th:text="${user.name}"></td>
        </tr>
        <!--/*@thymesVar id="profileDTO" type="com.kasia.controller.dto.ProfileDTO"*/-->
        <form th:action="@{/profile/updateProfile}" th:object="${profileDTO}" method="post">
            <tr>
                <td th:id="profileUpdateResult" colspan="2" th:class="successClass"
                    th:if="${updatePass} eq 'passUpdate'" th:text="#{text.password.update}"></td>
            </tr>
            <tr>
                <td th:id="profileInputName" th:text="#{label.password.new}+':'"></td>
                <td th:id="profileInputError" th:class="errorClass" th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{password}" th:placeholder="#{tip.password}"/></td>
            </tr>

            <tr>
                <td th:id="profileInputName" th:text="#{label.confirm}+':'"></td>
                <td th:id="profileInputError" th:class="errorClass" th:if="${#fields.hasErrors('confirm')}"
                    th:errors="*{confirm}">Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{confirm}"/></td>
            </tr>
            <tr>
                <td th:id="profileUpdateResult" colspan="2" th:class="successClass"
                    th:if="${updateLocale} eq 'localeUpdate'" th:text="#{text.locale.update}"></td>
            </tr>
            <tr>
                <td th:id="profileUpdateResult" colspan="2" th:class="successClass"
                    th:if="${updateZoneId} eq 'zoneIdUpdate'" th:text="#{text.zone.update}"></td>
            </tr>
            <tr>
                <td th:id="profileInputName" th:text="#{label.locale.update}+':'"></td>
                <td th:id="profileTdCheckbox"><input type="checkbox" th:field="*{updateLocale}"/></td>
            </tr>
            <tr>
                <td th:id="profileInputName" th:text="#{label.zoneid.update}+':'"></td>
                <td th:id="profileTdCheckbox"><input type="checkbox" th:field="*{updateZone}"/></td>
            </tr>
            <tr>
                <input id="inputUpdateZoneId" type="hidden" name="zoneId"/>
                <input type="hidden" th:value="${#locale.language}" name="lang"/>
                <input type="hidden" th:value="${#locale.country}" name="country"/>
                <td th:id="profileTdWithButton" th:colspan="2">
                    <button class="button" type="submit" th:text="#{button.complete}"></button>
                </td>
            </tr>
        </form>
    </table>
    <script th:inline="javascript">
        document.getElementById("inputUpdateZoneId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>
</div>

<!--HOME - ADD BUDGET TABLE-->
<div th:fragment="addBudgetTable">
    <table th:class="myTable">
        <th colspan="2" th:text="#{title.budgetAdd}"></th>

        <!--/*@thymesVar id="addBudgetDTO" type="com.kasia.controller.dto.AddBudgetDTO"*/-->
        <form th:action="@{/budget/save}" th:object="${addBudgetDTO}" method="post">
            <tr>
                <input type="hidden" th:value="${#authentication.name}" name="userEmail"/>
                <td th:id="addBudgetInputName" th:text="#{label.name}"></td>
                <td th:id="addBudgetInputError" th:class="errorClass" th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input th:id="addBudgetNameInput" type="text" th:field="*{name}"
                                          th:placeholder="#{tip.name}"/></td>
            </tr>
            <tr>
                <td colspan="2" th:id="addBudgetInputError" th:class="errorClass"
                    th:if="${#fields.hasErrors('banknotes')}"
                    th:errors="*{banknotes}">Error
                </td>
            </tr>
            <tr>
                <td th:id="addBudgetInputName" th:text="#{label.balance}"></td>
                <td th:id="addBudgetInputName">
                    <input th:id="banknotesInput" type="text" th:field="*{banknotes}"
                           th:placeholder="#{tip.banknotes}"/>
                    .
                    <input th:id="pennyInput" type="text" th:field="*{penny}" th:placeholder="#{tip.penny}"/>
                </td>
            </tr>
            <tr>
                <td th:id="addBudgetInputName" th:text="#{label.currency}"></td>
                <td th:id="addBudgetInputName">
                    <select th:field="*{currency}">
                        <option th:each="type : ${currencies}"
                                th:value="${type}"
                                th:text="${type}">Currency
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td th:id="addBudgetTdWithButton" th:colspan="2">
                    <button class="button" type="submit" th:text="#{button.complete}"></button>
                </td>
            </tr>
        </form>
    </table>
</div>

<!--HOME - OWN BUDGET LIST TABLE-->
<div th:fragment="ownBudgetListTable">
    <!--/*@thymesVar id="allOwnBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <table th:class="myTable">
        <tr th:each="ownBudget : ${allOwnBudgets}"
            th:id="existBudgetRow"
            th:onclick="'javascript:rowClicked(\'' + ${ownBudget.id} + '\');'">
            <td th:text="${ownBudget.name}">Name</td>
            <td th:text="${ownBudget.balance.amount}">Amount</td>
            <td th:text="${ownBudget.balance.currencies.currency.getCurrencyCode()}">Currency</td>
        </tr>
    </table>
    <script th:inline="javascript">
        function rowClicked(value) {
            location.href = "/budget/open/" + value;
            console.log("ROW CLICKED");
        }
    </script>
</div>

</body>
</html>