html {
    background-size: cover;
    background: url('../images/login_bg.jpg') no-repeat fixed center center;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Cutive";
    font-size: 25px;
}

#kasiaLogo {
    margin: 10px;
    text-align: center;
    font-size: 100px;
    font-family: "Cinzel Decorative";
    font-weight: bold;
    color: black;
}

#kasiaBudget {
    text-align: right;
    vertical-align: text-top;
    font-weight: bold;
    font-family: "Cinzel Decorative";
}

.button {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    height: 50px;
    border: 1px solid #006400;
    border-radius: 0px;
    background-color: white;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0, 100, 0, 1);
}

#buttonImg {
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    position: fixed;
}

#whiteButton {
    margin: 0;
    border: 0px solid darkgreen;
    box-shadow: none;
    color: black;
    background-color: rgba(0, 100, 0, 0);
}

#whiteButton:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

.header div {
    float: left;
}

#mainContentWithoutMenu {
    padding-top: 90px;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
}

.myTable {
    margin: 30px auto 30px auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    border-radius: 1px;
    border-spacing: 0;
}

.myTable td {
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
}

.myTable input {
    width: 100%;
    height: 40px;
}

.myTable th {
    background-color: rgba(0, 100, 0, 0.8);
    color: white;
}

.myLabel {
    text-align: left;
    vertical-align: bottom;
}

.myHistoryLabel {
    text-align: left;
    vertical-align: middle;
}

.myLabelError {
    color: red;
    text-align: right;
    vertical-align: bottom;
}

.myLabelSuccess {
    color: darkgreen;
    text-align: right;
    vertical-align: bottom;
}

.withButton {
    text-align: center;
}

.idLabel {
    width: 100%;
    height: 40px;
    top: 50px;
    background-color: rgba(0, 100, 0, 1);
    color: white;
    z-index: 98;
    position: fixed;
}

#operationIncomeWhite {
    color: darkgreen;
    background-color: rgba(255, 255, 255, 0);
}

#operationIncomeBlack {
    color: darkgreen;
    background-color: rgba(0, 100, 0, 0.1);
}

#operationConsumptionWhite {
    color: red;
    background-color: rgba(255, 255, 25, 0);
}

#operationConsumptionBlack {
    color: red;
    background-color: rgba(0, 100, 0, 0.1);
}

#operationConsumptionWhite:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

#operationConsumptionBlack:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

#operationIncomeBlack:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

#operationIncomeWhite:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

#elementWhite {
    margin: 0;
    border: 0px solid darkgreen;
    box-shadow: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

#elementDark {
    margin: 0;
    border: 0px solid darkgreen;
    box-shadow: none;
    color: black;
    background-color: rgba(0, 100, 0, 0.1);
}

#elementWhite:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

#elementDark:hover {
    color: white;
    background-color: rgba(0, 100, 0, 0.8);
}

.operationChoose {
    display: inline-block;
    font-size: 50px;
    text-align: center;
    line-height: 250px;
    min-width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.operationChoose:hover {
    background-color: rgba(255, 255, 255, 1);
}

