* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-family: "Cutive";
    color: black;
}

html {
    background-size: cover;
    background: url('../images/login_bg.jpg') no-repeat fixed center center;
}

body {
}

.kasiaClass {
    margin: 10px;
    text-align: center;
    font-size: 100px;
    font-family: "Cinzel Decorative";
    font-weight: bold;
    color: black;
}

.button {
    margin: 3px;
    padding: 3px;
    width: 150px;
    height: 50px;
    border: 0px solid darkgreen;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0, 100, 0, 0.9);
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
}

.header .button {
    margin: 0;
    padding: 0;
}

.header div {
    float: left;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
}

/*LOGIN*/
.loginTable {
    margin: 15px;
    padding: 20px;
    border: 0px solid darkgreen;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    display: inline-block;
    border-radius: 1px;
}

.loginTable td {
    height: 40px;
}

.loginTable input {
    width: 400px;
    height: 30px;
}

#loginInputName {
    vertical-align: bottom;
}

/*REGISTRATION*/
.registrationTable {
    margin: 15px;
    padding: 20px;
    border: 0px solid #006400;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    display: inline-block;
    border-radius: 1px;
}

.registrationTable td {
    text-align: left;
    height: 40px;
}

.registrationTable input {
    width: 400px;
    height: 30px;
}

#registrationInputName {
    text-align: left;
    vertical-align: bottom;
}

#registrationInputError {
    text-align: right;
    vertical-align: bottom;
}

#registrationTdWithButton {
    text-align: center;
}

/*OTHER*/
.errorClass {
    color: red;
}

.successClass {
    color: darkgreen;
}
