
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-family: "Cutive";
    color: black;
}

html {
    background-size: cover;
    background: url('../images/login_bg.jpg') no-repeat fixed center center;
}

body {
}

.kasiaClass {
    margin: 10px;
    text-align: center;
    font-size: 100px;
    font-family: "Cinzel Decorative";
    font-weight: bold;
    color: black;
}

#kasiaBudget {
    text-align: right;
    vertical-align: text-top;
    font-weight: bold;
    font-family: "Cinzel Decorative";
}

.button {
    margin: 3px;
    padding: 3px;
    width: 150px;
    height: 50px;
    border: 0px solid darkgreen;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0, 100, 0, 0.9);
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99;
    position: fixed;
}

#mainContentWithoutMenu {
    padding-top: 50px;
}

.header .button {
    margin: 0;
    padding: 0;
}

.header div {
    float: left;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
}

/*=====================================*/
/*LOGIN*/
/*=====================================*/
.loginTable {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    border-radius: 1px;
}

.loginTable td {
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.loginTable input {
    width: 320px;
    height: 30px;
}

#loginInputName {
    vertical-align: bottom;
}

.registrationTable th {
    padding-top: 20px;
}

/*=====================================*/
/*REGISTRATION*/
/*=====================================*/
.registrationTable {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    border-radius: 1px;
    display: inline-block;
}

.registrationTable td {
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

.registrationTable input {
    width: 400px;
    height: 30px;
}

#registrationInputName {
    text-align: left;
    vertical-align: bottom;
}

#registrationInputError {
    text-align: right;
    vertical-align: bottom;
}

#registrationTdWithButton {
    text-align: center;
}

/*=====================================*/
/*HOME-PROFILE*/
/*=====================================*/
.profileTable {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    border-radius: 1px;
    display: inline-block;
}

.profileTable td {
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.profileTable input {
    width: 350px;
    height: 30px;
}

.profileTable th {
    padding-top: 20px;
}

#profileInputName {
    text-align: left;
    vertical-align: bottom;
}

#profileInputError {
    text-align: right;
    vertical-align: bottom;
}

#profileTdWithButton {
    text-align: center;
}

#profileTdCheckbox {
    text-align: left;
    vertical-align: bottom;
}

#profileTdCheckbox input {
    vertical-align: bottom;
    height: 30px;
    width: 30px;
}

#profileUpdateResult {
    vertical-align: bottom;
}

/*=====================================*/
/*HOME ADD BUDGET*/
/*=====================================*/
.addBudgetTable {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 100, 0, 0.1);
    border-radius: 1px;
    display: inline-block;
}

.addBudgetTable th {
    padding-top: 20px;
}

#addBudgetInputError {
    text-align: right;
    vertical-align: bottom;
}

#addBudgetTdWithButton {
    text-align: center;
}

.addBudgetTable td {
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
}
#addBudgetInputName {
    text-align: left;
    vertical-align: bottom;
}
#banknotesInput {
    width: 60px;
}

#pennyInput {
    width: 30px;
}

#addBudgetNameInput{
    width: 400px;
}

/*=====================================*/
/*HOME OWN BUDGET LIST*/
/*=====================================*/
.ownBudgetListTable{
    /*left: 0px;*/
    /*top: 50px;*/
    width: 350px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1px;
    /*position: absolute;*/
    display: inline;
}
/*=====================================*/
/*OTHER*/
/*=====================================*/
.errorClass {
    color: red;
}

.successClass {
    color: darkgreen;
}
