<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base_head :: base_head"></div>
    <title th:text="#{title.error}"></title>
</head>
<body>
<div class="header">
    <div>
        <form th:action="@{/login}">
            <button class="button" th:id="whiteButton" type="submit" th:text="#{button.back}"></button>
        </form>
    </div>
</div>
<div th:id="mainContentWithoutMenu">
    <h1 th:class="kasiaClass">Ooops...</h1>
    <img th:src="@{/images/romashka.png}" width="200" height="200"/>
    <p th:text="#{text.request.error}"></p>
</div>
</body>
</html>