<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budgetAdd}"></title>
</head>
<body>
<div th:insert="fragments/header :: mainMenu"></div>
<div id="mainContentWithoutMenu">
    <!--/*@thymesVar id="budgetDTO" type="com.kasia.controller.dto.BudgetDTO"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <!--/*@thymesVar id="currencies" type="com.kasia.model.Currencies"*/-->
    <form th:action="@{/budget/save}" th:object="${budgetDTO}" method="post">
        <table th:class="myTable">
            <tr>
                <th colspan="2" th:text="#{title.budget}"></th>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.name}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.balanceInit}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('balanceInit')}"
                    th:errors="*{balanceInit}">Error
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" th:field="*{balanceInit}" th:placeholder="#{tip.balanceInit}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.currency}"></td>
                <td th:class="myLabel">
                    <select th:field="*{currency}">
                        <option th:each="type : ${currencies}"
                                th:value="${type}"
                                th:text="${type}">Currency
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td th:colspan="2" th:class="withButton">
                    <button class="button" type="submit" th:text="#{button.add}"></button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>