<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budgetAdd}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}"/>
<div th:insert="fragments/header :: mainMenu"></div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="currencies" type="com.kasia.model.Currencies"*/-->
    <!--/*@thymesVar id="budgetAdd" type="com.kasia.controller.dto.BudgetAdd"*/-->
    <form th:action="@{/budget/save}" th:object="${budgetAdd}" method="post">
        <table th:class="myTable">
            <tr>
                <th colspan="3" th:title="#{title.budget}">
                    <img th:id="labelImg" th:src="@{/images/budget-add.png}"/>
                </th>
            </tr>
            <tr>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">
                </td>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.name}">
                    <img th:id="labelImg" th:src="@{/images/name.png}"/>
                </td>
                <td><input type="text" th:field="*{name}" th:placeholder="#{label.name}"/></td>
                <td th:class="myTipLabel" th:text="#{tip.name}"></td>
            </tr>
            <tr>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}">Error
                </td>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.price.init}">
                    <img th:id="labelImg" th:src="@{/images/init-balance.png}"/>
                </td>
                <td><input type="number"
                           onfocus="this.value=''"
                           step="0.01"
                           th:field="*{price}" th:placeholder="#{label.price}"/>
                </td>
                <td th:class="myTipLabel" th:text="#{tip.price}"></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.currency}">
                    <img th:id="labelImg" th:src="@{/images/currency.png}"/>
                </td>
                <td th:class="myLabel">
                    <select th:field="*{currency}">
                        <option th:each="type : ${currencies}"
                                th:value="${type}"
                                th:text="${type}">Currency
                        </option>
                    </select>
                </td>
                <td th:class="myTipLabel" th:text="#{tip.currency}"></td>
            </tr>
            <tr>
                <td th:colspan="3" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.add}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>