<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budget}"></title>
</head>
<body>
<div th:replace="fragments/header :: budgetMenu"></div>
<div id="mainContentWithoutMenu">

    <!--/*@thymesVar id="operations" type="java.util.Set<com.kasia.model.Operation>"*/-->
    <table th:class="myTable" th:if="${operations.size() != 0}">
        <tr>
            <th colspan="5" th:text="#{title.operation}"></th>
        </tr>
        <!--/*@thymesVar id="packageOperations" type="java.util.Map<java.time.LocalDateTime,java.util.Set<com.kasia.model.Operation>>"*/-->
        <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
        <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->

        <div th:each="packageKey : ${packageOperations.keySet()}">
            <tr>
                <th th:colspan="5" th:text="${myFormatter.formatOnlyDate(user.id, packageKey)}"></th>
            </tr>
            <tr th:each="packageOperation : ${packageOperations.get(packageKey)}"
                th:id="${packageOperation.element.type eq packageOperation.element.type.INCOME} ? operationIncome : operationConsumption">
                <td th:class="myLabel" th:text="${packageOperation.element.name}"></td>
                <td th:class="myLabel" th:text="${packageOperation.provider.name}"></td>
                <td th:class="myLabel"
                    th:text="${packageOperation.element.type eq packageOperation.element.type.INCOME} ?
                ${myFormatter.formatNumber(user.id,packageOperation.price.amount)}
                : ${myFormatter.formatNumber(true,user.id,packageOperation.price.amount)}">
                </td>
                <td th:class="myLabel" th:text="${packageOperation.description}"></td>
                <td th:class="myLabel"
                    th:text="${myFormatter.formatOnlyTime(user.id,packageOperation.createOn)}"></td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>