<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budgetAll}"></title>
</head>
<body>
<div th:replace="fragments/header :: mainMenu"></div>
<div id="mainContentWithoutMenu">
    <!--/*@thymesVar id="allOwnBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <table th:class="myTable" th:if="${allOwnBudgets.size() != 0}">
        <tr>
            <th colspan="3" th:text="#{title.budgetAll}"></th>
        </tr>
        <tr th:each="ownBudget : ${allOwnBudgets}"
            th:class="button"
            th:onclick="'javascript:openBudget(\'' + ${ownBudget.id} + '\');'">
            <td th:text="${ownBudget.name}"></td>
            <td th:text="${ownBudget.balance.amount}"></td>
            <td th:text="${ownBudget.balance.currencies.currency.getCurrencyCode()}"></td>
        </tr>
    </table>
    <script th:inline="javascript">
        function openBudget(value) {
            location.href = "/budget/open/" + value;
        }
    </script>
</div>
</body>
</html>