<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budget}"></title>
</head>
<body>
<div th:replace="fragments/header :: budgetMenu"></div>
<div id="mainContentWithoutMenu">

    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <!--/*@thymesVar id="weekOperationHistory" type="com.kasia.controller.dto.WeekOperationHistory"*/-->
    <table th:class="myTable" th:if="${weekOperationHistory.isExist()}">
        <form th:action="@{/budget/operation/week/previous}" method="get">
            <button class="button" type="submit" th:text="#{button.previous}"></button>
        </form>
        <form th:action="@{/budget/operation/week/next}" method="get">
            <button class="button" type="submit" th:text="#{button.next}"></button>
        </form>

        <div th:each="day : ${weekOperationHistory.current().keySet()}">
            <tr>
                <th th:colspan="5" th:text="${myFormatter.formatOnlyDate(user.id, day)}"></th>
            </tr>
            <tr th:each="dayOperation : ${weekOperationHistory.current().get(day)}"
                th:id="${dayOperation.element.type eq dayOperation.element.type.INCOME} ? operationIncome : operationConsumption">
                <td th:class="myLabel" th:text="${dayOperation.element.name}"></td>
                <td th:class="myLabel" th:text="${dayOperation.provider.name}"></td>
                <td th:class="myLabel"
                    th:text="${dayOperation.element.type eq dayOperation.element.type.INCOME} ?
                ${myFormatter.formatNumber(user.id,dayOperation.price.amount)}
                : ${myFormatter.formatNumber(true,user.id,dayOperation.price.amount)}">
                </td>
                <td th:class="myLabel" th:text="${dayOperation.description}"></td>
                <td th:class="myLabel"
                    th:text="${myFormatter.formatOnlyTime(user.id,dayOperation.createOn)}"></td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>