<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budgetAll}"></title>
</head>
<body>
<div th:replace="fragments/header :: mainMenu"></div>

<div id="mainContentWithoutMenu">
    <!--/*@thymesVar id="allOwnBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <table th:class="myTable">
        <th colspan="3" th:text="#{title.budgetAll}"></th>
        <tr th:each="ownBudget : ${allOwnBudgets}"
            th:id="existBudgetRow"
            th:onclick="'javascript:rowClicked(\'' + ${ownBudget.id} + '\');'">
            <td th:text="${ownBudget.name}">Name</td>
            <td th:text="${ownBudget.balanceInit.amount}">Amount</td>
            <td th:text="${ownBudget.balanceInit.currencies.currency.getCurrencyCode()}">Currency</td>
        </tr>
    </table>
    <script th:inline="javascript">
        function rowClicked(value) {
            location.href = "/budget/open/" + value;
            console.log("ROW CLICKED");
        }
    </script>
</div>
</body>
</html>