<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budget}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}" />
<div th:replace="fragments/header :: budgetMenu"></div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="operationsHistory" type="com.kasia.controller.dto.OperationsHistoryPages"*/-->
    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <!--/*@thymesVar id="income" type="com.kasia.model.OperationType"*/-->
    <table th:class="myTable" th:if="${operationsHistory.isExist()}">
        <tr>
            <th th:colspan="3" th:title="#{title.statistic.balance.changes}">
                <img th:id="labelImg" th:src="@{/images/delta-balance.png}"/>
            </th>
        </tr>
        <tr th:each="operation,count : ${operationsHistory.current()}"
            th:id="${operation.type eq income} ?
                ${count.count%2!=0 ? 'operationIncomeWhite' : 'operationIncomeBlack'} :
                ${count.count%2!=0 ? 'operationConsumptionWhite' : 'operationConsumptionBlack'} "
            th:onclick="'javascript:operationEdit(\'' + ${operation.id} + '\');'">
            <td th:class="myHistoryLabel" th:text="${operation.element.name}"></td>
            <td th:class="myHistoryLabel"
                th:text="${operation.type eq income} ?
                ${myFormatter.formatNumber(user.id,operation.price)}
                : ${myFormatter.formatNumber(true,user.id,operation.price)}">
            </td>
            <td th:class="myHistoryLabel"
                th:text="${myFormatter.formatFullDate(user.id,operation.createOn)}"></td>
        </tr>
        <tr th:if="${!operationsHistory.isStart() or !operationsHistory.isEnd()}">
            <td th:class="withButton" th:colspan="3">
                <button class="button" th:id="buttonInline" th:if="${!operationsHistory.isStart()}"
                        th:onclick="'javascript:previousWeek();'"
                        type="button" th:title="#{button.previous}">
                    <img th:id="buttonImg" th:src="@{/images/arrow-left.png}"/>
                </button>
                <button class="button" th:id="buttonInline" th:if="${!operationsHistory.isEnd()}"
                        th:onclick="'javascript:nextWeek();'"
                        type="button" th:title="#{button.next}">
                    <img th:id="buttonImg" th:src="@{/images/arrow-right.png}"/>
                </button>
            </td>
        </tr>
    </table>
    <script th:inline="javascript">
        function nextWeek() {
            location.href = "/budget/operation/week/next";
        }
        function previousWeek() {
            location.href = "/budget/operation/week/previous";
        }
        function operationEdit(value) {
            location.href = "/budget/operation/edit/" + value;
        }
    </script>
</div>
</body>
</html>
