<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.budgetAdd}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}" />
<div th:insert="fragments/header :: mainMenu"></div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="currencies" type="com.kasia.model.Currencies"*/-->
    <!--/*@thymesVar id="budgetAdd" type="com.kasia.controller.dto.BudgetAdd"*/-->
    <form th:action="@{/budget/save}" th:object="${budgetAdd}" method="post">
        <table th:class="myTable">
            <tr>
                <th colspan="2" th:text="#{title.budget}"></th>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.name}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.price.init}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}">Error
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="number"
                                       onfocus="this.value=''"
                                       step="0.01"
                                       th:field="*{price}" th:placeholder="#{tip.price}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.currency}"></td>
                <td th:class="myLabel">
                    <select th:field="*{currency}">
                        <option th:each="type : ${currencies}"
                                th:value="${type}"
                                th:text="${type}">Currency
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td th:colspan="2" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.add}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}" />
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>