<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.element}"></title>
</head>
<body>
<div th:replace="fragments/header :: budgetMenu"></div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="elements" type="java.util.Set<com.kasia.model.Element>"*/-->
    <!--/*@thymesVar id="elementAdd" type="com.kasia.controller.dto.ElementDTO"*/-->
    <form th:action="@{/budget/element/add}" th:object="${elementAdd}" method="post">
        <table th:class="myTable">
            <tr>
                <th th:colspan="2" th:text="#{title.element}"></th>
            </tr>
            <tr th:if="${elements.size() != 0}"
                th:each="element,count : ${elements}"
                th:id="${count.count%2!=0}? elementWhite:elementDark"
                th:onclick="'javascript:editElement(\'' + ${element.id} + '\');'">
                <td th:class="myLabel" th:text="${element.name}"></td>
                <td th:class="myLabel" th:text="${element.price} + ' ' + *{currency}"></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.name}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.price} + ' ' + *{currency}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}">Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="number"
                                          onfocus="this.value=''"
                                          step="0.01"
                                          th:field="*{price}" th:placeholder="#{tip.price}"/>
                </td>
            </tr>
            <tr>
                <td th:colspan="2" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.add}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <script th:inline="javascript">
        function editElement(value) {
            location.href = "/budget/element/edit/" + value;
        }
    </script>
</div>
</body>
</html>