<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.providers}"></title>
</head>
<body>
<div th:replace="fragments/header :: budgetMenu"></div>
<div id="mainContentWithoutMenu">
    <!--/*@thymesVar id="elementDTO" type="com.kasia.model.Element"*/-->
    <form th:action="@{/budget/element/add}" th:object="${elementDTO}" method="post">
        <table th:class="myTable">
            <tr>
                <th colspan="2" th:text="#{title.element}"></th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>