<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.element}"></title>
</head>
<body>
<div th:replace="fragments/header :: budgetMenu"></div>
<div th:id="mainContentWithoutMenu">

    <table th:class="myTable">
        <!--/*@thymesVar id="elementEdit" type="com.kasia.controller.dto.ElementDTO"*/-->
        <form th:action="@{/budget/element/update}" th:object="${elementEdit}" method="post">
            <tr>
                <th th:colspan="2" th:text="#{title.edit}"></th>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.name}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('name')} and *{name != oldName}"
                    th:errors="*{name}">
                </td>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.price} + ' ' +  *{currency}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}">Error
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{price}" th:placeholder="#{tip.price}"/>
                </td>
            </tr>
            <tr>
                <td th:colspan="*{canBeDeleted} ? 1 : 2" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.update}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                    </button>
                </td>
                <input type="hidden" th:value="*{userId}" name="userId"/>
                <input type="hidden" th:value="*{canBeDeleted}" name="canBeDeleted"/>
                <input type="hidden" th:value="*{budgetId}" name="budgetId"/>
                <input type="hidden" th:value="*{elementId}" name="elementId"/>
                <input type="hidden" th:value="*{oldName}" name="oldName"/>
                <input type="hidden" th:value="*{currency}" name="currency"/>
        </form>
        <form th:action="@{/budget/element/delete}" th:object="${elementEdit}" method="post">
                <td th:if="*{canBeDeleted}" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.delete}">
                        <img th:id="buttonImg" th:src="@{/images/delete.png}"/>
                    </button>
                </td>
            <input type="hidden" th:value="*{canBeDeleted}" name="canBeDeleted"/>
            <input type="hidden" th:value="*{budgetId}" name="budgetId"/>
            <input type="hidden" th:value="*{elementId}" name="elementId"/>
            </tr>
        </form>
    </table>

</div>
</body>
</html>