<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.home}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel Decorative" rel='stylesheet'/>
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel='stylesheet'/>
</head>
<body>
<div th:replace="fragments/header :: loginMenu"></div>
<h1>HOME html</h1>



</body>
</html>