<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.home}"></title>
</head>
<body>
<div th:replace="fragments/header :: mainMenu"></div>

<div id="mainContentWithoutMenu">
    <div th:insert="fragments/tables :: ownBudgetListTable"></div>
<!--need separate profile and addbudget. home make table with own budgets-->
    <div th:insert="fragments/tables :: addBudgetTable"></div>
</div>
</body>
</html>