<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.kasia}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}"/>
<div class="header">
    <div>
        <form th:action="@{/registration}" method="get">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.registration}">
                <img th:id="buttonImg" th:src="@{/images/reg.png}"/>
            </button>
        </form>
    </div>
</div>
<div th:id="mainContentWithoutMenu">
    <form th:action="@{/login}" method="post">
        <table style="display: inline-block">
            <tr>
                <td th:id="kasiaLogo">KASIA</td>
            </tr>
            <tr>
                <td th:id="kasiaBudget" th:text="#{text.kasia.budget}"></td>
            </tr>
            <tr>
                <td th:text="#{information}"></td>
            </tr>
            <tr>
                <td>
                    <table th:class="myTable">
                        <tr>
                            <td th:class="myLabel" th:title="#{label.email}">
                                <img th:id="labelImg" th:src="@{/images/email.png}"/>
                            </td>
                            <td th:class="myLabelError" th:if="${param.error}"
                                th:text="#{text.login.error}"></td>
                            <td th:class="myLabelSuccess" th:if="${param.logout}"
                                th:text="#{text.logout}"></td>
                            <td th:class="myLabelSuccess" th:if="${param.registration}"
                                th:text="#{text.registration.success}"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="username" th:autofocus="autofocus"
                                       th:placeholder="#{label.email}"/></td>
                        </tr>
                        <tr>
                            <td th:colspan="2" th:class="myLabel" th:title="#{label.password}">
                                <img th:id="labelImg" th:src="@{/images/password.png}"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:colspan="2"><input type="password" name="password"
                                                      th:placeholder="#{label.password}"/></td>
                        </tr>
                        <tr>
                            <td th:colspan="2" th:class="withButton">
                                <button class="button" type="submit" th:title="#{button.login}">
                                    <img th:id="buttonImg" th:src="@{/images/enter.png}"/>
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <div th:insert="fragments/footer :: loginFooter"></div>
</div>
</body>
</html>