<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.kasia}"></title>
    <link content="text/html" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<h1>KASIA</h1>
<div th:if="${param.error}" th:text="#{text.login.error}"></div>
<div th:if="${param.logout}" th:text="#{text.logout}"></div>
<div th:if="${param.registration}" th:text="#{text.registration.success}"></div>
<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td th:text="#{email}"></td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td th:text="#{password}"></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{button.login}"></button>
            </td>
            <td>

            </td>
        </tr>
    </table>
</form>
<form th:action="@{/registration}" method="get">
    <button type="submit" th:text="#{button.registration}"></button>
</form>

<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</body>
</html>