<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.kasia}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel Decorative" rel='stylesheet'/>
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel='stylesheet'/>
</head>
<body>
<div th:replace="fragments/header :: loginMenu"></div>

<h1 th:class="kasiaClass">KASIA</h1>

<div th:class="errorClass" th:if="${param.error}" th:text="#{text.login.error}"></div>
<div th:class="successClass" th:if="${param.logout}" th:text="#{text.logout}"></div>
<div th:class="successClass" th:if="${param.registration}" th:text="#{text.registration.success}"></div>

<table th:class="loginTable">
    <form th:action="@{/login}" method="post">
        <tr>
            <td th:text="#{email}"></td>
        </tr>
        <tr>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td th:text="#{password}"></td>
        </tr>
        <tr>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="button" type="submit" th:text="#{button.login}"></button>
            </td>
        </tr>
    </form>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>