<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.main}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}" />
<div th:replace="fragments/header :: mainMenu"></div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="ownBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <!--/*@thymesVar id="connectionBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <!--/*@thymesVar id="requestTo" type="java.util.Set<com.kasia.model.UserConnectBudgetRequest>"*/-->
    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <table th:class="myTable" th:if="${requestTo.size() != 0}">
        <tr>
            <th th:colspan="5" th:text="#{title.connection.request}"></th>
        </tr>
        <tr th:each="ucbr : ${requestTo}">
            <td th:class="myLabel" th:text="${ucbr.getBudget().name}"></td>
            <td th:class="myLabel" th:text="#{label.from}"></td>
            <td th:class="myLabel" th:text="${ucbr.fromUser.email}"></td>
            <td style="padding: 0px;">
                <button th:onclick="'javascript:acceptReqest(\'' + ${ucbr.id} + '\');'"
                        class="button" th:id="whiteButton" type="button" th:title="#{button.connect}">
                    <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                </button>
            </td>
            <td style="padding: 0px;">
                <button th:onclick="'javascript:rejectReqest(\'' + ${ucbr.id} + '\');'"
                        class="button" th:id="whiteButton" type="button" th:title="#{button.rejected}">
                    <img th:id="buttonImg" th:src="@{/images/cancel.png}"/>
                </button>
            </td>
        </tr>
    </table>
    <table th:class="myTable" th:if="${ownBudgets.size() != 0}">
        <tr>
            <th colspan="3" th:text="#{title.ownBudget}"></th>
        </tr>
        <tr th:each="ownBudget : ${ownBudgets}"
            th:id="${ownBudget.balance.amount.toString().startsWith('-') ? 'operationConsumptionWhite' : 'operationIncomeWhite' }"
            th:onclick="'javascript:openBudget(\'' + ${ownBudget.id} + '\');'">
            <td th:class="myLabel" th:text="${ownBudget.name}"></td>

            <td th:class="myLabel" th:text="${myFormatter.formatNumber(user.id,ownBudget.balance.amount)}"></td>
            <td th:class="myLabel" th:text="${ownBudget.balance.currency}"></td>
        </tr>
    </table>
    <table th:class="myTable" th:if="${connectionBudgets.size() != 0}">
        <tr>
            <th colspan="3" th:text="#{title.connectedBudget}"></th>
        </tr>
        <tr th:each="connectionBudget : ${connectionBudgets}"
            th:id="${connectionBudget.balance.amount.toString().startsWith('-') ? 'operationConsumptionWhite' : 'operationIncomeWhite' }"
            th:onclick="'javascript:openBudget(\'' + ${connectionBudget.id} + '\');'">
            <td th:class="myLabel" th:text="${connectionBudget.name}"></td>

            <td th:class="myLabel" th:text="${myFormatter.formatNumber(user.id,connectionBudget.balance.amount)}"></td>
            <td th:class="myLabel" th:text="${connectionBudget.balance.currency}"></td>
        </tr>
    </table>
    <script th:inline="javascript">
        function openBudget(value) {
            location.href = "/budget/open/" + value;
        }
        function acceptReqest(value) {
            location.href = "/main/connection/accept/" + value;
        }
        function rejectReqest(value) {
            location.href = "/main/connection/reject/" + value;
        }
    </script>
</div>
</body>
</html>