<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.operation}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}"/>
<div th:replace="fragments/header :: budgetMenu"></div>
<div th:id="mainContentWithoutMenu">
    <table th:class="myTable">
        <!--/*@thymesVar id="operationEdit" type="com.kasia.model.Operation"*/-->
        <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
        <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
        <!--/*@thymesVar id="budget" type="com.kasia.model.Budget"*/-->
        <!--/*@thymesVar id="income" type="com.kasia.model.OperationType"*/-->
        <!--/*@thymesVar id="consumption" type="com.kasia.model.OperationType"*/-->
        <form th:action="@{/budget/operation/delete}" th:object="${operationEdit}" method="post">
            <tr>
                <th th:colspan="4" th:if="${operationEdit.type == income }" th:title="#{title.income}">
                    <img th:id="labelImg" th:src="@{/images/income.png}"/>
                </th>
                <th th:colspan="4" th:if="${operationEdit.type == consumption }" th:title="#{title.consumption}"
                    style="background-color: red">
                    <img th:id="labelImg" th:src="@{/images/consumption.png}"/>
                </th>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.place}">
                    <img th:id="labelImg" th:src="@{/images/place.png}"/>
                </td>
                <td th:class="myLabel" th:text="*{place.name}"></td>
                <td th:class="myLabel">
                    <img th:id="labelImg" th:src="@{/images/description.png}"/>
                </td>
                <td th:class="myLabel" th:text="*{place.description}"></td>
            </tr>
            <tr style="background-color: rgba(0, 100, 0, 0.1);">
                <td th:class="myLabel" th:title="#{label.element}">
                    <img th:id="labelImg" th:src="@{/images/element.png}"/>
                </td>
                <td th:class="myLabel" th:colspan="3" th:text="*{element.name}"></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:if="${operationEdit.type == income }"
                    th:title="#{title.income}">
                    <img th:id="labelImg" th:src="@{/images/income.png}"/>
                </td>
                <td th:class="myLabel" th:if="${operationEdit.type == consumption }"
                    th:title="#{title.consumption}">
                    <img th:id="labelImg" th:src="@{/images/consumption.png}"/>
                </td>
                <td th:class="myLabel"
                    th:colspan="2"
                    th:text="(${operationEdit.type eq income} ?
                ${myFormatter.formatNumber(user.id,operationEdit.price)} :
                ${myFormatter.formatNumber(true,user.id,operationEdit.price)}) + '  ' + ${budget.balance.currency}"></td>
            </tr>
            <tr style="background-color: rgba(0, 100, 0, 0.1);">
                <td th:class="myLabel" th:title="#{label.description}">
                    <img th:id="labelImg" th:src="@{/images/description.png}"/>
                </td>
                <td th:class="myLabel" th:colspan="3" th:text="*{description}"></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.creator}">
                    <img th:id="labelImg" th:src="@{/images/profile.png}"/>
                </td>
                <td th:class="myLabel" th:colspan="3" th:text="*{user.email}"></td>
            </tr>
            <tr style="background-color: rgba(0, 100, 0, 0.1);">
                <td th:class="myLabel" th:title="#{label.created}">
                    <img th:id="labelImg" th:src="@{/images/time.png}"/>
                </td>
                <td th:class="myLabel" th:colspan="3"
                    th:text="${myFormatter.formatDate(user.id,operationEdit.createOn)}"></td>
            </tr>
            <tr>
                <!--/*@thymesVar id="isOwner" type="java.lang.Boolean"*/-->
                <td th:colspan="4" th:if="${isOwner}" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.delete}">
                        <img th:id="buttonImg" th:src="@{/images/delete.png}"/>
                    </button>
                    <input type="hidden" th:value="*{id}" name="id"/>
                </td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>