<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.place}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}"/>
<div th:replace="fragments/header :: budgetMenu"></div>
<div th:id="mainContentWithoutMenu">

    <table th:class="myTable">
        <!--/*@thymesVar id="placeEdit" type="com.kasia.controller.dto.PlaceDTO"*/-->
        <form th:action="@{/budget/place/update}" th:object="${placeEdit}" method="post">
            <tr>
                <th th:colspan="3" th:title="#{title.edit}">
                    <img th:id="labelImg" th:src="@{/images/edit.png}"/>
                    <img th:id="labelImg" th:src="@{/images/place.png}"/>
                </th>
            </tr>
            <tr>
                <td th:class="myLabelError"
                    th:colspan="3"
                    th:if="${#fields.hasErrors('name')} and *{name != oldName}"
                    th:errors="*{name}">
                </td>
            <tr>
                <td th:class="myLabel" th:title="#{label.name}">
                    <img th:id="labelImg" th:src="@{/images/name.png}"/>
                </td>
                <td><input type="text" th:field="*{name}" th:placeholder="#{label.name}"/></td>
                <td th:class="myTipLabel" th:text="#{tip.name}"></td>
            </tr>
            <tr>
                <td th:class="myLabelError"
                    th:colspan="3"
                    th:if="${#fields.hasErrors('description')} and *{description != oldDescription}"
                    th:errors="*{description}">
                </td>
            </tr>
            <tr>
                <td th:class="myLabel" th:title="#{label.description}">
                    <img th:id="labelImg" th:src="@{/images/description.png}"/>
                </td>
                <td><input type="text" th:field="*{description}" th:placeholder="#{label.description}"/></td>
                <td th:class="myTipLabel" th:text="#{tip.description}"></td>
            </tr>

            <tr>
                <td th:colspan="*{canBeDeleted} ? 2 : 3" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.update}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                    </button>
                </td>

                <input type="hidden" th:value="*{canBeDeleted}" name="canBeDeleted"/>
                <input type="hidden" th:value="*{userId}" name="userId"/>
                <input type="hidden" th:value="*{budgetId}" name="budgetId"/>
                <input type="hidden" th:value="*{placeId}" name="placeId"/>
                <input type="hidden" th:value="*{oldName}" name="oldName"/>
                <input type="hidden" th:value="*{oldDescription}" name="oldDescription"/>
        </form>
        <form th:action="@{/budget/place/delete}" th:object="${placeEdit}" method="post">
            <td th:if="*{canBeDeleted}" th:class="withButton">
                <button class="button" type="submit" th:title="#{button.delete}">
                    <img th:id="buttonImg" th:src="@{/images/delete.png}"/>
                </button>
            </td>
            </tr>
            <input type="hidden" th:value="*{placeId}" name="placeId"/>
            <input type="hidden" th:value="*{canBeDeleted}" name="canBeDeleted"/>
            <input type="hidden" th:value="*{budgetId}" name="budgetId"/>
        </form>
    </table>

</div>
</body>
</html>