<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.profile}"></title>
</head>
<body>
<div th:replace="fragments/header :: mainMenu"></div>
<div th:id="mainContentWithoutMenu">

    <!--/*@thymesVar id="updatePass" type="java.lang.String"*/-->
    <!--/*@thymesVar id="updateLocale" type="java.lang.String"*/-->
    <!--/*@thymesVar id="updateZoneId" type="java.lang.String"*/-->
    <!--/*@thymesVar id="profile" type="com.kasia.controller.dto.Profile"*/-->

    <form th:action="@{/profile/update}" th:object="${profile}" method="post">
        <table th:class="myTable">
            <tr>
                <th th:colspan="2" th:text="#{title.profile}"></th>
            </tr>

            <tr>
                <td th:class="myLabel" th:text="#{label.password.new}"></td>
                <td th:class="myLabelSuccess"
                    th:if="*{passwordUpdated}"
                    th:text="#{text.password.update}">
                </td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('password')} and *{password!=null and #strings.length(password)&gt;0}"
                    th:errors="*{password}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{password}" th:placeholder="#{tip.password}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.confirm}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('confirm')}"
                    th:errors="*{confirm}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{confirm}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.locale.update}"></td>
                <td colspan="2" th:class="myLabelSuccess"
                    th:if="*{localeUpdated}"
                    th:text="#{text.locale.update}">
                </td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="checkbox" th:field="*{updateLocale}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.zoneid.update}"></td>
                <td colspan="2" th:class="myLabelSuccess"
                    th:if="*{zoneIdUpdated}"
                    th:text="#{text.zone.update}"></td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="checkbox" th:field="*{updateZone}"/></td>
            </tr>
            <tr>
                <td th:colspan="2" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.save}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}" />
                    </button>
                </td>
            </tr>
        </table>
        <input id="inputUpdateZoneId" type="hidden" name="zoneId"/>
        <input type="hidden" th:value="${#locale.language}" name="lang"/>
        <input type="hidden" th:value="${#locale.country}" name="country"/>
    </form>
    <script th:inline="javascript">
        document.getElementById("inputUpdateZoneId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>
</div>
</body>
</html>