<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base_head :: base_head"></div>
    <title th:text="#{title.registration}"></title>
</head>
<body>
<div th:replace="fragments/header :: registrationMenu"></div>

<div id="mainContentWithoutMenu">
    <!--/*@thymesVar id="userDTO" type="com.kasia.controller.dto.UserDTO"*/-->
    <form action="#" th:action="@{/registration}" th:object="${userDTO}" method="post">
        <table th:class="registrationTable">
            <th th:colspan="3"></td><h1 th:text="#{title.registration}"></h1></th>
            <tr>
                <td th:id="registrationInputName" th:text="#{email}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{email}" th:placeholder="#{tip.email}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{password}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{password}" th:placeholder="#{tip.password}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{confirm}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">confirm Error</td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{confirm}"/></td>
            </tr>

            <tr>
                <td th:id="registrationInputName" th:text="#{name}"></td>
                <td th:id="registrationInputError" th:class="errorClass" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">password Error</td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{name}" th:placeholder="#{tip.name}"/></td>
            </tr>

            <tr>
                <input id="inputZoneId" type="hidden" name="zoneId"/>
                <input type="hidden" th:value="${#locale.language}" name="lang"/>
                <input type="hidden" th:value="${#locale.country}" name="country"/>
                <td th:id="registrationTdWithButton" th:colspan="2">
                    <button class="button" type="submit" th:text="#{button.complete}"></button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script th:inline="javascript">
    document.getElementById("inputZoneId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
</body>
</html>