<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.registration}"></title>
</head>
<body>
<div class="header">
    <div>
        <form th:action="@{/registration/back}">
            <button class="button" th:id="whiteButton" type="submit" th:title="#{button.back}">
                <img th:id="buttonImg" th:src="@{/images/arrow-left.png}" />
            </button>
        </form>
    </div>
</div>
<div th:id="mainContentWithoutMenu">
    <!--/*@thymesVar id="registration" type="com.kasia.controller.dto.Registration"*/-->
    <form th:action="@{/registration}" th:object="${registration}" method="post">
        <table th:class="myTable">
            <tr>
                <th th:colspan="3" th:text="#{title.registration}"></th>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.email}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"></td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="text" th:field="*{email}" th:placeholder="#{tip.email}"/></td>
            </tr>

            <tr>
                <td th:class="myLabel" th:text="#{label.password}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"></td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{password}" th:placeholder="#{tip.password}"/></td>
            </tr>
            <tr>
                <td th:class="myLabel" th:text="#{label.confirm}"></td>
                <td th:class="myLabelError"
                    th:if="${#fields.hasErrors('confirm')}"
                    th:errors="*{confirm}"></td>
            </tr>
            <tr>
                <td th:colspan="2"><input type="password" th:field="*{confirm}"/></td>
            </tr>
            <tr>
                <td th:class="withButton" th:colspan="2">
                    <button class="button" type="submit" th:title="#{button.complete}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}" /></button>
                </td>
            </tr>
        </table>
        <input id="inputZoneId" type="hidden" name="zoneId"/>
        <input type="hidden" th:value="${#locale.language}" name="lang"/>
        <input type="hidden" th:value="${#locale.country}" name="country"/>
    </form>
    <script th:inline="javascript">
        document.getElementById("inputZoneId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>
</div>
</body>
</html>