<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/base_head :: base_head"></div>
    <title th:text="#{title.settings}"></title>
</head>
<body>
<img th:class="bg" th:src="@{/images/login_bg.jpg}" />
<div th:replace="fragments/header :: mainMenu"></div>
<div th:id="mainContentWithoutMenu">

    <!--/*@thymesVar id="settings" type="com.kasia.controller.dto.Settings"*/-->
    <!--/*@thymesVar id="ownBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <!--/*@thymesVar id="connectionBudgets" type="java.util.Set<com.kasia.model.Budget>"*/-->
    <!--/*@thymesVar id="connectionUsers" type="java.util.Set<com.kasia.model.User>"*/-->
    <!--/*@thymesVar id="myFormatter" type="com.kasia.model.service.MyStringFormatter"*/-->
    <!--/*@thymesVar id="user" type="com.kasia.model.User"*/-->
    <!--/*@thymesVar id="confirmDeleteError" type="java.lang.Boolean"*/-->

    <table th:class="myTable">
        <form th:action="@{/main/settings/delete/budget}" th:object="${settings}" method="post">
            <tr>
                <th th:colspan="4" th:text="#{title.settings}"></th>
            </tr>
            <!--delete budget-->
            <tr th:if="*{hasOwnBudget}">
                <th th:colspan="4" th:text="#{title.budgetDelete}" style="background-color: red"></th>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:class="myLabel" th:text="#{title.budget}"></td>
                <td th:class="myLabel" th:colspan="3">
                    <select th:field="*{budgetIdForDelete}">
                        <option th:value="0" th:text="'-'"></option>
                        <option th:each="budget : ${ownBudgets}"
                                th:value="${budget.id}"
                                th:text="${budget.name}
                                + ' ' + ${myFormatter.formatNumber(user.id,budget.balance.amount)}
                                + ' ' + ${budget.balance.currency}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr th:if="*{hasOwnBudget} and ${confirmDeleteError}">
                <td th:colspan="4"
                    th:class="myLabelError"
                    th:text="#{validation.password.error}">
                </td>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:class="myLabel" th:text="#{label.confirm} + ' ' + #{label.password}"></td>
                <td th:class="myLabel" th:colspan="3"><input type="password" th:field="*{confirmDelete}"/></td>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:colspan="4" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.delete}">
                        <img th:id="buttonImg" th:src="@{/images/delete.png}"/>
                    </button>
                </td>
            </tr>
            <!--connect user-->
            <tr th:if="*{hasOwnBudget}">
                <th th:colspan="4" th:text="#{title.userConnect}"></th>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:class="myLabel" th:text="#{label.email}"></td>
                <td th:class="myLabel" th:colspan="3"><input type="text" th:field="*{emailToConnect}"/></td>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:class="myLabel" th:text="#{title.budget}"></td>
                <td th:colspan="3" th:class="myLabel">
                    <select th:field="*{budgetIdForConnect}">
                        <option th:each="budget : ${ownBudgets}"
                                th:value="${budget.id}"
                                th:text="${budget.name}
                                + ' ' + ${myFormatter.formatNumber(user.id,budget.balance.amount)}
                                + ' ' + ${budget.balance.currency}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr th:if="*{hasOwnBudget} and ${confirmConnectError}">
                <!--/*@thymesVar id="confirmConnectError" type="java.lang.Boolean"*/-->
                <td th:colspan="4"
                    th:class="myLabelError"
                    th:text="#{validation.password.error}">
                </td>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:class="myLabel" th:text="#{label.confirm} + ' ' + #{label.password}"></td>
                <td th:class="myLabel" th:colspan="3"><input type="password" th:field="*{confirmConnect}"/></td>
            </tr>
            <tr th:if="*{hasOwnBudget}">
                <td th:colspan="4" th:class="withButton">
                    <button class="button" type="submit" th:title="#{button.connect}">
                        <img th:id="buttonImg" th:src="@{/images/ok.png}"/>
                    </button>
                </td>
            </tr>
            <!--connect budget-->
            <tr th:if="*{hasConnectBudget}">
                <th th:colspan="4" th:text="#{label.connections}"></th>
            </tr>
            <tr th:if="*{hasConnectBudget}"
                th:each="connectionBudget, count : ${connectionBudgets}"
                th:style="${count.count%2!=0? '':'background-color: rgba(0, 100, 0, 0.1);'}">
                <td th:text="${connectionBudget.name}"></td>
                <td th:text="${myFormatter.formatNumber(user.id,connectionBudget.balance.amount)}"></td>
                <td th:text="${connectionBudget.balance.currency}"></td>
                <td style="padding: 0px;">
                    <button th:onclick="'javascript:disconnectFromBudget(\'' + ${connectionBudget.id} + '\');'"
                            class="button" th:id="whiteButton" type="button" th:title="#{button.rejected}">
                        <img th:id="buttonImg" th:src="@{/images/cancel.png}"/>
                    </button>
                </td>
            </tr>
            <!--user are connection to own budget-->
            <!--/*@thymesVar id="connectionUsers" type="java.util.Map<com.kasia.model.User, java.util.Set<com.kasia.model.Budget>"*/-->
            <tr th:if="*{hasConnectedUser}">
                <th th:colspan="4" th:text="#{label.connected.user}"></th>
            </tr>

            <div th:if="*{hasConnectedUser}" th:each="connectedUser : ${connectionUsers.keySet()}">
                <tr th:each="budget, count : ${connectionUsers.get(connectedUser)}"
                    th:style="${count.count%2!=0? '':'background-color: rgba(0, 100, 0, 0.1);'}">
                    <td th:text="${budget.name}"></td>
                    <td th:colspan="2" th:text="${connectedUser.email}"></td>
                    <td style="padding: 0px;">
                        <button th:onclick="'javascript:disconnectUserFromBudget(\'' + ${connectedUser.id} + '\',\'' + ${budget.id} + '\');'"
                                class="button" th:id="whiteButton" type="button" th:title="#{button.rejected}">
                            <img th:id="buttonImg" th:src="@{/images/cancel.png}"/>
                        </button>
                    </td>
                </tr>
            </div>
        </form>
    </table>
    <script th:inline="javascript">
        function disconnectFromBudget(value) {
            location.href = "/main/disconnection/budget/" + value;
        }
        function disconnectUserFromBudget(userId, budgetId) {
            location.href = "/main/disconnection/user/" + userId + "/" + budgetId;
        }
    </script>
</div>
</body>
</html>